/* color palette */
:root {
    --c-white: #fff;
    --c-black: #000;

    /*  spaces  */
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));

    --smooth: 200ms ease-out;

    --width-modal: 480px;
    --width-container: 1200px;
}

/* semantic color variables for this project */
:root {
    --bd-radius: var(--border-radius);
    --text-bold: 600;

    --c-bg: var(--c-white);
    --c-bg-secondary: var(--surface-100);
    --c-primary: var(--primary-color);
    --c-text: var(--text-color);
    --c-text-secondary: var(--text-color-secondary);
    --c-text-on-primary: var(--primary-color-text);
    --c-text-error: var(--red-500);
    --c-text-warning: var(--orange-500);
}

@media (prefers-color-scheme: dark) {
}
