/* color palette */
:root {
    --c-white: #fff;
    --c-black: #000;

    /*  sizes  */
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));

    /*  width  */
    --width-unit: 10rem;
    --width-xxxxs: calc(0.125 * var(--width-unit));
    --width-xxxs: calc(0.25 * var(--width-unit));
    --width-xxs: calc(0.375 * var(--width-unit));
    --width-xs: calc(0.5 * var(--width-unit));
    --width-sm: calc(0.75 * var(--width-unit));
    --width-md: calc(1.25 * var(--width-unit));
    --width-lg: calc(2 * var(--width-unit));
    --width-xl: calc(3.25 * var(--width-unit));
    --width-xxl: calc(5.25 * var(--width-unit));
    --width-xxxl: calc(8.5 * var(--width-unit));
    --width-xxxxl: calc(13.75 * var(--width-unit));

    --smooth: 200ms ease-out;
}

/* semantic color variables for this project */
:root {
    --c-bg: var(--c-white);
    --c-bg-secondary: var(--surface-200);
    --c-text: var(--c-black);
    --c-text-error: var(--red-500);
    --c-text-warning: var(--orange-500);
}

@media (prefers-color-scheme: dark) {
}
